<div ng-app="mainApp">
    <style>
        html {
            background: url(../Images/kabop.jpg);
            background-size: 300px 100px, cover;
            margin-left: 0;
            margin-right: 0;
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }
    </style>
    <div>
        <a ui-sref="user">You don't have an account ? Register Now!    </a>
        <a ui-sref="login">Login</a>
    </div>
    <ui-view></ui-view>
</div>