s.a babo


    <table  class="table table-condensed">

        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        
        <tr ng-repeat="product in products">
            <td ng-hide="editmode">{{product.ItemName}}</td>
            <td ng-hide="editmode">{{product.itemDescription}}</td>
            <td ng-show="editmode"><input ng-model="product.ItemName" /></td>
            <td ng-show="editmode"><input ng-model="product.itemDescription" /></td>

            <td>
            <button class="btn btn-primary" ng-hide="editmode" ng-click="editmode = true;">Edit</button>
            <button class="btn btn-success" ng-click="updateProduct(product)" ng-show="editmode">Save</button>
            <button class="btn btn-danger" ng-show="editmode">Delete</button>
            </td>
        </tr>

    </table>
<button>Add New Product</button>
<button></button>

